@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="q-head">Välkommen till Quizzie!
    Quizzie är ett frågesportspel som riktar sig till alla 
    som vill skapa sina egna quiz.</div>

<div></div>



@section script{
    
}

