@using Quizzie.Models.VM
@model QuizQuestionVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-center">
    <div id="image-link"></div>
    <div class="row">
        <div class="col-lg-12">
            <div id="loading">
                Loading!
            </div>
            <div id="currentQuestion" hidden>
                <h3 id="question"></h3>
                <div id="answers"></div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src='/signalr/js'></script>
    <script src="~/Scripts/Question.js"></script>
}