@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h3 id="quiz-title"></h3>
    <div id="question-image"></div>
    <h3 id="question"></h3>
    <div id="buttons"></div>
    <div id="progressbar" class="progress-bar"></div>
</div>



@section scripts {
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src='/signalr/js'></script>
    <script src="~/Scripts/Question.js"></script>
}
