@using Quizzie.Models.VM
@model QuizResultsVM


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="header">Alla rätt, säger vi...</h1>
</div>

@*<input type="text" value="@Model.Name" />
<input type="text" value="@Model.Points av @Model.TotalPoints" />*@