@using Quizzie.Models.VM
@model QuizTitleVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Title", "Quiz", FormMethod.Post,
                                                                           new { enctype = "multipart/form-data" }))
{

    <div class="container text-center">

        <h4 style="padding-bottom:10px;">@ViewBag.AccessCode</h4>


        <div class="col-lg-12 col-centered">
            @Html.TextBox("Title", "", new { @class = "form-control", @placeholder = "Titel på Quiz" })
        </div>

        <div id="start-div" class="row">
            <input type="submit" id="done" class="btn btn-info" value="Skapa quiz">
        </div>
    </div>
}