
<div class="container text-center">
    <div id="image-div">
        <img id="image-link" class="questionImage" src="" />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="loading">
                <img src="~/img/loading-spinner.svg" />
            </div>
            <div id="currentQuestion" hidden>
                <h3 class="questionClass" id="question"></h3>
                <div class="col-lg-12" id="answers"></div>
                <div id="usersParticipating"></div>
            </div>
        </div>
    </div>
</div>