--USE [master]
--GO

--DROP database [QuizzieDB]
--GO

/****** Object:  Database [QuizzieDB]    Script Date: 2017-05-09 11:41:55 ******/
--CREATE DATABASE [QuizzieDB]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QuizzieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizzieDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'QuizzieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizzieDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
--ALTER DATABASE [QuizzieDB] SET COMPATIBILITY_LEVEL = 120
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [QuizzieDB].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [QuizzieDB] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [QuizzieDB] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [QuizzieDB] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [QuizzieDB] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [QuizzieDB] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET RECOVERY FULL 
--GO
--ALTER DATABASE [QuizzieDB] SET  MULTI_USER 
--GO
--ALTER DATABASE [QuizzieDB] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [QuizzieDB] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [QuizzieDB] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [QuizzieDB] SET TARGET_RECOVERY_TIME = 0 SECONDS 
--GO
--ALTER DATABASE [QuizzieDB] SET DELAYED_DURABILITY = DISABLED 
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'QuizzieDB', N'ON'
--GO
--USE [QuizzieDB]
--GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 2017-05-09 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AccessCode] [int] NOT NULL,
	[CreatedBy] [int] foreign key references QuizCreator(ID) NOT NULL, 
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuizCreator]    Script Date: 2017-05-09 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizCreator](
	[ID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QuizCreator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuizQuestion]    Script Date: 2017-05-09 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](50) NULL,
	[QuizID] [int] foreign key references Quiz(ID) NOT NULL,
 CONSTRAINT [PK_QuizQuestion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuizQuestionAnswer]    Script Date: 2017-05-09 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestionAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[QuizQuestionID] [int] foreign key references QuizQuestion(ID) NOT NULL,
 CONSTRAINT [PK_QuizQuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuizResult]    Script Date: 2017-05-09 11:41:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Result] [nvarchar](max) NULL,
	[DateCompleted] [datetime] NULL,
	[QuizID] [int] foreign key references Quiz(ID) NOT NULL,
 CONSTRAINT [PK_QuizResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[QuizResult]  WITH CHECK ADD  CONSTRAINT [FK_QuizResult_QuizResult] FOREIGN KEY([ID])
REFERENCES [dbo].[QuizResult] ([ID])
GO
ALTER TABLE [dbo].[QuizResult] CHECK CONSTRAINT [FK_QuizResult_QuizResult]
GO
USE [master]
GO
